[Desktop Entry]
Type=Application
Name=Navicat Premium 16
GenericName=Database Development Tool
Icon=com.navicat.navicat16.premium
Exec=run.sh
Categories=Development;
Keywords=database;sql;
Terminal=false
